{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron text-center mb-0">
    <h1>Camping *** l'Espadrille Volante</h1>
</div>
<div class="row">
    {{ include('home/_menu.html.twig') }}
</div>
    <div class="container">
            <div class="mt-5">
                <h2 class="mb-5">Votre réservation est confirmée !</h2>
            </div>
    </div>
{% endblock %}