{% extends 'base.html.twig' %}

{% block title %}Admin - Camping *** l'Espadrille Volante{% endblock %}

{% block body %}
    <div class="jumbotron text-center mb-0">
        <span class="float-right">
            <a href="{{ path('logout') }}" class="btn btn-outline-info">Déconnexion</a>
        </span>
        <h1>Camping *** l'Espadrille Volante</h1>
    </div>
    <div class="row">
        {{ include('admin/_menu.html.twig') }}
    </div>

    <div class="container">
        <div class="mb-5">
            <h2 class="mb-5">Liste des réservations</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusamus alias aliquam expedita explicabo iure magnam nam obcaecati officiis praesentium, quam velit voluptatem voluptatum?
                Accusantium aspernatur dicta earum explicabo magnam veniam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusamus alias aliquam expedita explicabo iure magnam nam obcaecati officiis praesentium, quam velit voluptatem voluptatum?
                Accusantium aspernatur dicta earum explicabo magnam veniam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusamus alias aliquam expedita explicabo iure magnam nam obcaecati officiis praesentium, quam velit voluptatem voluptatum?
                Accusantium aspernatur dicta earum explicabo magnam veniam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusamus alias aliquam expedita explicabo iure magnam nam obcaecati officiis praesentium, quam velit voluptatem voluptatum?
                Accusantium aspernatur dicta earum explicabo magnam veniam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusamus alias aliquam expedita explicabo iure magnam nam obcaecati officiis praesentium, quam velit voluptatem voluptatum?
                Accusantium aspernatur dicta earum explicabo magnam veniam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusamus alias aliquam expedita explicabo iure magnam nam obcaecati officiis praesentium, quam velit voluptatem voluptatum?
                Accusantium aspernatur dicta earum explicabo magnam veniam.
            </p>
        </div>
    </div>

{% endblock %}